.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
}

@media (max-width: 768px) {
  .darkveil-canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
  }
}
