.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;
  opacity: 1;
  z-index: 0;
}

@media (max-width: 768px) {
  .darkveil-canvas {
    image-rendering: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
